.navbar{
    
    box-shadow: 0px 0px 15px rgba(0,0,0,.5);
}

.backColor{
    background-color: #f8f9fa;
}


.nav-link:hover {
    background-color: #008F45;
    color: #f8f9fa !important;
}

.nav-link{
    color: #393939  !important;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;

}

.thColor th{
    background-color: #008F45;
    color: #f8f9fa;
}
